section.content {
  margin-top: 4em; }

.jumbotron, .general-alert {
  margin-top: 1em; }

.btn-file input[type=file] {
  outline: none;
  cursor: inherit; }

.event img {
  max-width: 400px;
  max-height: 400px; }
