section.content {
  margin-top: 4em; }

.jumbotron, .general-alert {
  margin-top: 1em; }

.btn-file input[type=file] {
  outline: none;
  cursor: inherit; }

.header-buttons {
  margin-top: 1.4em; }

.event img {
  max-width: 100%;
  max-height: 500px; }
  @media (min-width: 768px) {
    .event img {
      max-width: 500px;
      margin-left: 1em; } }

.days .heading {
  width: 100%; }

.days h3 {
  display: inline-block; }

.grid-wrap {
  padding-left: 3em; }

.timegrid {
  width: 50%;
  margin: 0;
  padding: 0; }
  .timegrid .time {
    border-left: 1px solid #000; }

.shifts .row {
  line-height: 2em; }

.shifts ul {
  list-style: none; }

.slot {
  background-color: #ccc;
  border: 1px solid #fff;
  border-radius: 1em;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25em;
  text-align: center;
  height: 1.75em;
  font-size: 12pt;
  margin-top: -0.25em;
  margin-left: -0.25em;
  margin-right: 0.30em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  min-width: 100px; }

.slot.taken {
  background-color: #d83664;
  border: 1px solid #fff;
  line-height: 1em;
  color: #fff; }

.slot.taken:hover, .slot.taken.active {
  background-color: #dd2559;
  border: 1px solid #000;
  text-decoration: none; }

.slot:hover, .slot.active {
  background-color: #eee;
  border: 1px solid #000; }
