body {
  overflow-x: hidden; }

section.content {
  margin-top: 4em; }

.jumbotron, .general-alert {
  margin-top: 1em; }

.btn-file input[type=file] {
  outline: none;
  cursor: inherit; }

.header-buttons {
  margin-top: 1.4em; }

.event img {
  max-width: 100%;
  max-height: 500px; }
  @media (min-width: 768px) {
    .event img {
      max-width: 500px;
      margin-left: 1em; } }

.days .heading {
  width: 100%; }

.days h3 {
  display: inline-block; }

.shift-wrap .row {
  line-height: 2em; }

.shift-wrap ul {
  list-style: none; }

.timegrid .group {
  width: 50%;
  padding: 0;
  margin: 0; }

.timegrid .times {
  position: relative; }
  .timegrid .times .time {
    padding-left: 0.5em;
    border-left: 1px solid #000; }

.timegrid .background {
  position: absolute;
  right: 0;
  height: 5.9em; }
  .timegrid .background .group {
    height: 100%; }
  .timegrid .background .time {
    border-left: 1px solid #ccc;
    height: 100%;
    margin-top: 0.2em; }

.time.active {
  background-color: rgba(50, 50, 50, 0.1); }

.department {
  border-top: 1px solid #000;
  padding: 1em 0 0.5em 0.5em; }
  .department .title {
    margin-bottom: 1em; }

.shift {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 0.2em;
  padding-bottom: 0.2em; }
  .shift .title {
    margin: 0; }

.shift:hover, .shift.active {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: rgba(50, 50, 50, 0.1); }

.slots {
  position: relative; }

.slot {
  background-color: #ccc;
  border: 1px solid #fff;
  border-radius: 1em;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25em;
  text-align: center;
  height: 1.75em;
  font-size: 12pt;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  min-width: 100px; }
  @media (min-width: 992px) {
    .slot {
      min-width: 100%;
      margin-left: -1.4em; } }

.slot.taken {
  background-color: #d83664;
  border: 1px solid #fff;
  line-height: 1em;
  color: #fff; }

.slot.taken:hover, .slot.taken.active {
  background-color: #dd2559;
  border: 1px solid #000;
  text-decoration: none; }

.slot:hover, .slot.active {
  background-color: #eee;
  border: 1px solid #000; }

.profile {
  margin-bottom: 1em; }
  .profile .title {
    font-weight: bold; }
