APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_USERNAME=smtpRelayUsername
MAIL_PASSWORD=smtpRelayPassword

SITE_URL=https://your.website
SITE_NAME=Your Volunteer Database

BROADCAST_DRIVER=log
