.shift-wrap {
    .row {
        line-height: 2em;
    }

    ul {
        list-style: none;
    }
}

.timegrid {
    .group {
        width: 50%;
        padding: 0;
        margin: 0;
    }
    
    .times {
        position: relative;
    
        .time {
            padding-left: 0.5em;
            border-left: 1px solid #000;
        }
    }

    .background {
        position: absolute;
        right: 0;
        height: 5.9em;

        .group {
            height: 100%;
        }
    
        .time {
            border-left: 1px solid #ccc;
            height: 100%;
            margin-top: 0.2em;
        }
    }
}

.time.active {
    background-color: rgba(50, 50, 50, 0.1);
}

.department {
    border-top: 1px solid #000;
    padding: 1em 0 0.5em 0.5em;

    .title {
        margin-bottom: 1em;
    }
}

.shift {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    .title {
        margin: 0;
    }
}

.shift:hover, .shift.active {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: rgba(50, 50, 50, 0.1);
}

.slots {
    position: relative;
}

.slot-wrap {
    overflow: hidden;

    @media (min-width: 992px) {
        margin-left: -1.7em;
    }
}

.slot {
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ccc;
    border: 1px solid #fff;
    border-radius: 1em;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.25em;
    text-align: center;
    height: 1.75em;
    font-size: 12pt;
    cursor: pointer;
    min-width: 100px;

    @media (min-width: 992px) {
        min-width: 100%;
        max-width: 100%;
    }
}

.slot.taken {
    background-color: #d83664;
    border: 1px solid #fff;
    line-height: 1em;
    color: #fff;
}

.slot.taken:hover, .slot.taken.active {
    background-color: #dd2559;
    border: 1px solid #000;
    text-decoration: none;
}

.slot:hover, .slot.active {
    background-color:#eee;
    border: 1px solid #000;
}
