.profile .buttons {
    margin-top: 1em;
}

.buttons {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.buttons a {
    cursor: pointer;
}
.user-list {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	align-items: flex-start;
	justify-content: space-between;
	.form-group{
		padding-left: 0;
	}
}