.event {
    img {
        max-width: 100%;
        max-height: 500px;

        @media (min-width: 768px) {
            max-width: 500px;
            margin-left: 1em;
        }
    }
}

.days {
    .heading {
        width: 100%;
    }

    h3 {
        display: inline-block;
    }
}
