body {
    overflow-x: hidden;
}

section.content {
    margin-top: 4em;
}

.jumbotron, .general-alert {
    margin-top: 1em;
}

.btn-file input[type=file] {
    outline: none;
    cursor: inherit;
}

.header-buttons {
    margin-top: 1.4em;
}

.hamburger {
    color: #9D9D9D;
    margin-top: 0.5em;
    font-size: 150%;
    cursor: pointer;
}

.navbar-collapse.open {
    display: block;
}

.footer {
    font-size: 80%;
    margin-bottom: 1em;
}

.heart {
    color: #ef3e99;
}

.image-caption {
    width: 50%;

    img {
        max-width: 100%;
    }

    p {
        text-align: center;
        font-style: italic;
        font-size: 90%;
    }
}

textarea {
    min-height: 250px;
}
