body {
    overflow-x: hidden;
}

section.content {
    margin-top: 4em;
}

.jumbotron, .general-alert {
    margin-top: 1em;
}

.btn-file input[type=file] {
    outline: none;
    cursor: inherit;
}

.header-buttons {
    margin-top: 1.4em;
}
