.shifts {
    .row {
        line-height: 2em;
    }

    ul {
        list-style: none;
    }
}

.slot {
    background-color: #ccc;
    border: 1px solid #fff;
    border-radius: 1em;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.25em;
    text-align: center;
    height: 1.75em;
    font-size: 12pt;
    margin-top: -0.25em;
    margin-left: -0.25em;
    margin-right: 0.30em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    min-width: 100px;
}

.slot.taken {
    background-color: #d83664;
    border: 1px solid #fff;
    line-height: 1em;
    color: #fff;
}

.slot.taken:hover, .slot.taken.active {
    background-color: #dd2559;
    border: 1px solid #000;
    text-decoration: none;
}

.slot:hover, .slot.active {
    background-color:#eee;
    border: 1px solid #000;
}
